/* Стили элементов на странице */

/* Для всех элементов */
*
{
    margin: 0; /* Отступ вокруг элемента - нулевой  */
    padding: 0; /* Отбивка вокруг элемента - нулевая */
}

/* Тег <html> и его дочерние элементы */
html
{
    overflow: hidden; /* Если контент не помещается в родителя - прятать ту часть, которая не помещается */
}

/* Тело документа */
body
{
    /* Возможно не нужно, так как <body> - дочерний тэг элемента <html> */
    overflow: hidden; /* Если контент не помещается в родителя - прятать ту часть, которая не помещается */

    font: 1em, Arial, Helvetica, sans-serif; /* Шрифт на странице */
    background: #000; /* Цвет фона */
    color: #fff; /* Цвет текста (тона) */
}

/* Для слоя/блока (<div>) заголовка с инструкциями пользователю */
.header
{
    /* Центрируем блок заголовка: */
    margin: auto; /* Отступы - автоматические */
    width: 60%; /* Полезная ширина - 60% от родителя. */
    /* Оставшиеся пространство слева и справа заполнится автоматически, центрируя блок. */
}

/* Изображение в заголовке с инструкциями пользователю */
.header-img
{
    display: block; /* Сделать блочным элементом */
    
    /* Центрировать относительно родителя: */
    margin-left: auto; /* Отступ слева автоматический */
    margin-right: auto; /* Отступ справа автоматический */
    width: 80%; /* Ширина в процентах от родителя. Остальное слева и справа заполнится отступами, центрируя элемент */
}

/* Текст в заголовке с инструкциями пользователю */
.header-txt
{
    text-align: center; /* Выравнивание по центру */
}

/* Элемент параграфа для всей страницы (хотя и нужен только для заголовка с инструкциями пользователю) */
p
{
    font-size: 1em; /* Размер шрифта в условных единицах, зависящих от настроек (выглядит по разному на разных системах и настройках)*/
}

/* Элемент WebGL-канвы - "холста", на который выводится 3D-графика */
.webgl
{
    position: fixed; /* Фиксированная позиция - элемент извлекается из потока документа, где для него не отводится места. Позиция задается следующими полями. */
    top: 0; /* Позиция элемента сверху относительно ближайшего блока, содержащего данный элемент (в нашем случае - весь документ). */
    left: 0; /* Позиция элемента слева относительно ближайшего блока, содержащего данный элемент (в нашем случае - весь документ).*/
    outline: none; /* Убрать рамку/обводку элемента */
}

/* Для отладочной консоли. Это надо убрать из релизной версии!*/
.eruda-container
{
  z-index: 10000 !important; /* Разместить поверх всех элементов. Здесь переопределяются все оствльные значения данного свойства для этого элемента (!important) */
}
